
<mat-card class="card-phone">
    <mat-card-header>
      <mat-card-title class="m-1">TCL30-SE</mat-card-title>
      <!-- <mat-card-subtitle>modelo:x</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src="https://tienda.personal.com.ar/_next/image?url=https%3A%2F%2Ftienda.personal.com.ar%2Fimages%2FTCL_30_SE_Space_Gray_Frente_min_3b49f94409.png&w=640&q=75" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-around">
      <button [disabled]="true" mat-button>Ver mas</button>
      <button mat-button>Agregar</button>
    </mat-card-actions>
  </mat-card>
  